@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image:
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);

  background-size: 50px 50px;

  z-index: -1;
}

body {
  overflow-x: hidden;
}

body {
  background: #020617;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image:
    linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px);

  background-size: 40px 40px;
  pointer-events: none;
}